**/venv/**
DialogFlow/app/data/vehicles/*.json
DialogFlow/app/data/needs/*.json
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz
**/*.pywz
**/*.pyzw
**/*.env
**/storage/messages/** 
**/storage/profiles/**
**/storage/sessions/** 
**/.idea/**
**/.vscode/**
**/.DS_Store